body {
    background-color: #25076b;
    height: 90vh;
    margin: 0;
}

#title {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 50px;
    color: white;
}

#name {
    width: 40%;
    padding: 12px 0px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
    text-align: center;
}

#pin {
    width: 40%;
    padding: 12px 0px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
    text-align: center;
}

#label {
    display: block;
    text-align: center;
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    color: white;
}

#host {
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

#host:hover {
    text-decoration: underline;
}

#joinButton {
    width: 40%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
    background-color: #2f2f2f;
    font-family: 'Raleway', sans-serif;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

#joinButton:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

#form_inicio {
    display: flex;
    flex-direction: column;
    padding: 20px;
}